.parent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px;
    color: red
}
@media (max-width: 676px) {
    .parent {
        width: 300px;
        height: 300px;
    }
}
.child {
    background-color: #323234;
}

.first {
    grid-area: 1 / 2/ span 1/ span 3
}

.second {
    grid-area: 1/ 1/ span 7/ span 1
}

.third {
    grid-area: 4/ 2/ span 1/ span 3
}

.fourth {
    grid-area: 7/ 2/ span 1/ span 3
}

.fifth {
    grid-area: 1/ 6/ span 7/ span 1
}

.sixth {
    grid-area: 7/ 6/ span 1/ span 4
}

.ball {
    width: 30px;
    height: 30px;
    background-color: #fea604;
    grid-area: 7/ 9/span 1/ span 1;
    margin: auto;
    animation-name: ball-one;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.two {
    width: 30px;
    height: 30px;
    background-color: #fea604;
    margin: auto;
    grid-area: 1/ 4/ span 1/ span 1;
    animation-name: ball-two;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

@keyframes ball-one {
    7% {
        transform: translate(-133px);
    }

    14% {
        transform: translate(-133px, -266px);
        opacity: 1;
    }

    21% {
        opacity: 0;
        transform: translate(-133px, -266px);
    }

    27% {
        opacity: 0;
        transform: translate(0);
    }

    30% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes ball-two {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    30% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    34% {
        transform: translateX(-133px);
    }

    37% {
        transform: translate(-133px, 133px);
    }

    40% {
        transform: translate(0, 133px);
    }

    43% {
        transform: translate(-133px, 133px);
    }

    46% {
        transform: translate(-133px, 266px)
    }

    49% {
        transform: translate(0, 266px);
    }

    52% {
        transform: translate(-133px, 266px);
    }

    55% {
        transform: translate(-133px, 133px)
    }

    60% {
        transform: translate(0, 133px);
    }

    63% {
        transform: translate(-133px, 133px);
    }

    66% {
        transform: translateX(-133px);
    }

    70% {
        transform: translate(0);
    }

}
